.container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
