* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
button {
    border: none;
    background-color: inherit;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #000;
    font-style: normal;
    text-decoration: none;
}
