.buttonBox {
    width: 350px;
    display: flex;
    flex-direction: column;
}
.button {
    margin: 20px;
    margin-top: 2000px;
    border: 1px solid #cdcdcd;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #f5f5f5;
}
